/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#page {

  max-width: 100%;
  color: rgb(51, 51, 51);
}

#header {
  /* background: url(https://lh4.googleusercontent.com/-zthhkn89Qds/Uumm6Bn58DI/AAAAAAAAQCA/F_GSD81WPAw/w1001-h563-no/background_1.jpg) 55%; */
  /*background: url(  https://trello-attachments.s3.amazonaws.com/54da3a3481642a8c9dff4c86/960x720/4cb507ab9cb90002d8cc7a1da2ee67c1/cover_azoresbox_blue.jpg) 55%; */
  background: url(../images-source/cover_azoresbox_blue.jpg) 55%;
  background-size: cover;
  min-height: 400px;
  background-attachment: fixed;
  height: 700px;
  text-align: center;
  padding-top: 150px;
}

body a {
  color: #27b6c0;
}

.star {
  font-size: 12px;
  color: #D1DCE5;
}

/* Bug Fieldset http://stackoverflow.com/questions/1673346/fieldset-firefox-overflow-css-fix */
fieldset.collapse-text-fieldset {
  display: table-column;
}

.not-front #header {
  height: 200px;
  min-height: 200px;
}

.not-front #block-system-main-menu,
.not-front #logo {
  visibility: hidden;
}

#content_top{
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

ul.menu {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

ul.menu li{
  display: inline-block;
  margin: 0 8px;
}

ul.menu li a{
  color: #D1DCE5!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  padding: 8px 18px;
  border: 2px solid #D1DCE5;
  font-style: normal;
  font-weight: 500;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #F7EEE6!important;
  border: 2px solid #F7EEE6;
}
ul.menu li a:hover{
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.stickynav-active{
  background: rgba(0, 0, 0, 0.6);
  background: rgba(89, 89, 92, 0.8);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  left: 0;
}

.stickynav-active .menu{
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: transform 1s ease-in;
  -moz-transition: transform 1s ease-in;
  -o-transition: transform 1s ease-in;
  transition: transform 1s ease-in;
  margin: 10px;
}


#main{
  max-width: 960px;
  margin: auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__name-and-slogan {
  float: none;
  text-align: center;
  padding-top: 230px;
}

.not-front .header__name-and-slogan {
  padding-top: 10px;
}

.header__site-name {
  font-size: 40px;
  color: #fff;
  letter-spacing: .2em;
  font-weight: 300;
}

.header__site-link {
  padding: .2em 0;
  border-top: 2px solid #f7eee6;
  border-bottom: 2px solid #f7eee6;
  color: #f7eee6;
  text-decoration: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.header__site-link:link, .header__site-link:visited{
  color: #f7eee6;
  text-decoration: none;
}

.header__site-link:hover{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.header__site-slogan {
  font-size: 20px;
  color: #D1DCE5;
  font-style: italic;
  /*font-weight: 500;*/
  letter-spacing: 3px;
  padding-top: 24px;
}

.header__logo img {
  max-width: 300px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 50px;
}

.header__logo img:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.header__logo {
  float: none;
}

.front .block-views{
  padding-top: 80px;
}

/*#site-name a, #site-slogan{

  text-align: center;
  color: white;
  text-decoration: none;
}

#site-name {
  padding-top: 100px;
  text-align: center;
}

#name-and-slogan{
  float: none;
  font-size: 20px;
}

#site-name a span{
  font-size: 40px;
  color: #fff;
  border-top: 2px solid #f7eee6;
  border-bottom: 2px solid #f7eee6;
  padding: 5px 0 5px 0;
  letter-spacing: 4px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#site-name a span:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}*/

/* Team */



.field-name-field-picture img{
  border-bottom: 5px solid #27b6c0;
  border-right: 5px solid #27b6c0;
}

.view-team .views-row .field-name-field-picture{
  float: left;
  margin-right: 2em;
}

/*#main #content a{
  text-decoration: none;
  border-bottom: 1px dotted ;
  color: #a5a5a5;
}*/

/* #main #content a:hover{
  border-bottom: 1px solid #3ebce5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
} */

#block-views-contact-form-block-1{
  clear: both;
}

h2.block-title{
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid #27b6c0;
  letter-spacing: 3px;
  font-size: 40px;
}

.blue{
  color: #27b6c0;
}

/* INFO ABOUT*/

#block-views-info-block-1 .views-row-1{
  padding: 0 2em;
  font-style: italic;
}

#block-views-info-block-1 .views-row-2{
  background-color: #27b6c0;
  margin: 0px 2em !important;
  padding: 1px 2em 1px;

}

#about-1,
#about-2 {
  /*max-width: 32em;*/
  margin: auto;
  text-align: justify;
}

#about-2 {
  margin-bottom: 2em;
}

#block-views-info-block-1 .views-row-2 a{
  color: #D1DCE5;

}

#marcar-aulas h2,
#marcar-aulas h6 {
  text-align: center;
}

#marcar-aulas h6 {
  color: #F7EEE6;
  font-size: 9px;
}

#marcar-aulas li {
  margin-bottom: 1em;
}

/*#block-views-info-block-1 .views-row-3{
  float: right;
  width: 48%;
  background-color: #27b6c0;
  padding: 0 2em;
}*/

/* Team */
#block-views-team-block-1{
  clear: both;
}

/* Contact */
#block-views-contact-form-block-1 .contact-us-detail,
#block-views-contact-form-block-1 .view-content {
  float: left;
  width: 50%;
}

#block-views-contact-form-block-1 .form-item input,
#block-views-contact-form-block-1 .form-item textarea {
  width: 100%;
  height: 37px;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  color: #666;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0px -2px 0px #2196F3 inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  display: block;
  padding: 0px;
  border: medium none;
  border-radius: 0px;
  box-shadow: 0px -1px 0px #DDD inset;
  font-size: 16px;
}

#block-views-contact-form-block-1 .form-item input:focus,
#block-views-contact-form-block-1 .form-item textarea:focus {
  box-shadow: 0px -2px 0px #27b6c0 inset;
}

#block-views-contact-form-block-1 .form-item textarea {
  height: 80px;
}

#block-views-contact-form-block-1 #edit-submit {
  background-color: #D1DCE5;
  width: 100%;
  height: 48px;
  border: medium none;
  transition: background-color 0.3s ease 0s;
}

#block-views-contact-form-block-1 #edit-submit:hover {
  background-color: #27b6c0;
}

#footer {
  background-color: #27B6C0;
  opacity: 0.5;
  margin-top: 2em;
  color: #D1DCE5;
  font-size: 13px;
  font-style: italic;
  padding: 1em;
}

#footer i{
  color: #D1DCE5;
  margin-left: 10px;
}

#footer i:hover{
  color: #fff;
}

#footer #block-block-1 {
  text-align: center;
  margin: 0;
}

#footer #block-block-1 p{
  margin: 0;
}

#crossfit-journal img{
   height: 50px;
   opacity: 0.8;
}

#crossfit-journal img:hover {
   opacity: 1;
}

/* Responsive */
@media only screen and (max-width: 490px)  {

  #block-views-info-block-1 .views-row-2{
    margin-bottom: 2em;
  }

  ul.menu li {
    margin: 0 4px;
  }

  ul.menu li a {
    padding: 4px 9px;
  }

  .stickynav-active .menu {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none);
    -o-transform: none;
    transform: none;
  }

  #block-views-contact-form-block-1 .contact-us-detail, #block-views-contact-form-block-1 .view-content {
    float: none;
    width: 100%;
}

}

